.containerWithWireframe {
    position: absolute;
    /* pointer-events: none; */
    padding: 40px;
    overflow: visible; 
    width: 100%;
}

.topLine {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 1px;
    /* border-top: 2px dashed var(--color-wireframe); */
    background-image: repeating-linear-gradient(
        to right,
        var(--color-wireframe),
        var(--color-wireframe) 4px,
        transparent 4px,
        transparent 8px
    );
    pointer-events: none;
    z-index: 1001;
}
  
.leftLine {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 1px;
    /* border-left: 2px dashed var(--color-devNotes); */
    background-image: repeating-linear-gradient(
        to bottom,
        var(--color-wireframe),
        var(--color-wireframe) 4px,
        transparent 4px,
        transparent 8px
    );
    pointer-events: none;
    z-index: 1001;
}
  
.rightLine {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    width: 1px;
    /* border-right: 2px dashed var(--color-devNotes); */
    background-image: repeating-linear-gradient(
        to bottom,
        var(--color-wireframe),
        var(--color-wireframe) 4px,
        transparent 4px,
        transparent 8px
    );
    pointer-events: none;
    z-index: 1001;
}
  
.bottomLine {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    height: 1px;
    /* border-bottom: 2px dashed var(--color-devNotes); */
    background-image: repeating-linear-gradient(
        to right,
        var(--color-wireframe),
        var(--color-wireframe) 4px,
        transparent 4px,
        transparent 8px
    );
    pointer-events: none;
    z-index: 1001;
}

  