.contact {
    padding: 4px;
}

.header {
    font-family: var(--font-header);
    font-size: 3em;
    text-align: left;
    letter-spacing: .2em;
    font-weight: 500;
}

.subheader {
    font-family: var(--font-body);
    font-size: 1.5em;
    text-align: left;
    letter-spacing: .2em;
    font-weight: 500;
}